jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    # Make the script executable
    - name: Make setup_env.sh executable
      run: chmod +x ./ci/setup_env.sh

    - name: Setup environment
      run: ./ci/setup_env.sh

    - name: Build Halo.OS demo
      run: ./ci/build_halo.sh

    - name: Run sample experiment
      run: ./ci/run_experiment.sh ci_test 30

    - name: Analyze
      run: python3 ci/analyze.py results/ci_test/events.jsonl

    - name: Generate plot
      run: python3 ci/visualize.py results/ci_test/events.jsonl
